.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.imageCont {
  display: flex;
  justify-content: center;
}

.details {
  flex: 0 0 45%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.cont {
  margin-top: 2vh;
}

.stepnumber {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 9vh;
  color: #0415aa;
  padding: 1vh 1vw 0 0
}

.parah {
  color: #737485;
  font-size: 13px;
  padding: 2vh 0;
}

.link {
  color: #0415aa;
  text-decoration: none;
  border-bottom: 2px solid #0415aa;
  font-size: 16px;;
  padding-top: 1vh;
}

.link:hover {
  color: #041186;
  cursor: pointer;
  border-color: #041186;
}


@media (max-width: 766px) {}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
  }

  .parah {
    padding: 0.5vh 0;
    font-size: 1.3vh;
  }

  .link {
    font-size: 1.3vh;
  }

  .imageCont {
    order: 2;
    margin: 1vh 2vh;
  }

  .stepnumber {
    font-size: 4.5vh
  }
}