.container{
  padding: 3vh 8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading{
  color: #0415aa;
  padding-bottom: 1vh;
  text-align: center;
}

.headingTop{
  text-align: center;
}

.cont{
  width: 100%;
  padding: 1vh 0;
}

@media (max-width: 766px) {
  .container{
    padding: 2vh 40px;
  }
}

@media (max-width: 480px) {
  .container{
    padding: 2vh 20px;
  }
}