.containerClose {
  width: 100%;
  margin: 1vh 0 2vh 0;
  text-align: center;
  cursor: pointer;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.containerOpen {
  width: 100%;
  margin: 1vh 0.5vw 2vh 0.5vw;
  text-align: left;
  cursor: pointer;
  background: none;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.parah {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  color: #b2bfd0;
  margin-top: 0.8vh;
  width: 100%;
}

.icon{
  height: 36px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
