.block {
    width: 100%;
    margin: 4vh 0;
    padding: 6vh 3vw;
    box-shadow: 15px 15px 50px rgb(4 21 170 / 16%);
}

.dropbtn {
    background-color: #0415AA;
    color: white;
    padding: 16px;
    font-size: 1.4vh;
    border: none;
}

.dropdown {
    display: none;
    justify-content: center;
}

.dropdownContent {
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdownContent button {
    background-color: #0415AA;
    width: 180px;
    color: white;
    padding: 12px 16px;
    border: none;
    display: block;
}

.dropdownContent button:hover {
    background-color: white;
    color: #0415AA;
}


.buttons {
    display: flex;
    justify-content: space-around;
}

.img {
    width: 100%;
    margin-top: 4vh;
    border-radius: 2%;
}

@media (max-width: 480px) {
    .dropdown {
        display: flex;
    }

    .buttons {
        display: none;
    }

    .block {
        margin: 2vh 0;
        padding: 3vh 3vw;
    }
}