.container {
  padding: 5vh 8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 4vh 0;
}

.block {
  width: 100%;
  margin: 4vh 0;
  padding: 6vh 3vw;
  box-shadow: 15px 15px 50px rgb(4 21 170 / 16%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tickRowCont {
  display: flex;
  flex-direction: column;
}

.flexcol {
  display: flex;
  flex-direction: column;
}

.heading {
  color: #0415aa;
  padding-bottom: 1vh;
  text-align: center;
}

.headingTop {
  text-align: center;
}

.head {
  margin-bottom: 2vh;
  color: #0415aa;
}

.gif {
  height: 70vh;
  width: auto;
}

.headingparah {
  font-size: 2.7vh;
  padding-bottom: 2vh;
  text-align: center;
  color: #323C47;
}

.lastCard {
  margin-right: 0 !important;
}

.button {
  font-size: 2.7vh;
  height: 7.5vh;
  width: 13.5vw;
}

@media (max-width: 766px) {
  .container {
    padding: 2vh 40px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 2vh 20px;
  }

  .block {
    flex-direction: column;
  }

  .tickRowCont {
    flex-direction: row;
  }
}