.background {
  height: 12.7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.background div {
  margin: 0 1vw;
}

.heading{
  font-weight: 600;
  font-size: 3.76vh;
}

.parah{
  margin-top: 1vh;
  font-weight: 400;
  font-size: 1.65vh;
  color: #707683;
}
