.container {
  padding: 8vh 8vw;
  background-color: #0415aa;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.cont1 {
  width: "40%"
}

.container2 {
  padding: 2vh 8vw;
  background-color: #0415aa;
  color: #fff;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 10vh;
  width: 133px;
}

.parah {
  font-size: 2.8vh;
  font-weight: 400;
  margin: 4vh 0 0 0;
}

.linkcont {
  display: flex;
  flex-direction: column;
}

.linkheading {
  color: white;
  margin-bottom: 1vh;
}

.link {
  color: white;
  font-size: 2vh;
  margin-bottom: 1vh;
  text-decoration: none;
}

.link:hover {
  opacity: 80%;
}

.links {
  display: flex;
  flex-direction: row;
  margin: 6vh 0 8vh 0;
}

.links a {
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 1.5vh 0;
  margin-right: 1vw;
  display: flex;
  align-items: center;
}

.links a:hover {
  background-color: #fff;
  color: #0415aa;
}

.copyrighttext {
  font-size: 2.8vh;
}

@media (max-width: 766px) {
  .container {
    padding: 2vh 40px;
  }

  .parah {
    font-size: 1.5vh;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 2vh 20px;
  }

  .cont1 {
    width: 100%;
  }

  .container2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container2 div {
    margin-bottom: 1vh;
  }
}