.container{
  padding: 5vh 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroText {
  flex: 0 0 50%;
}

.heroTitle {
  font-size: 6.8vh;
  font-weight: 700;
  padding-bottom: 2vh;
  color: #0415aa;
}

.heading{
  font-weight: 500;
  font-size: 4vh;
  color: #323C47;
  padding-bottom: 1.5vh;
}

.gif{
  height: 70vh;
  width: auto;
}

.heroParah{
  font-size: 2.7vh;
  padding-bottom: 3vh;
  color: #707683;
}

.bluebutton{
  font-size: 2.7vh;
  height: 7.5vh;
  width: 13.5vw;
}

.button{
  font-size: 2.7vh;
  height: 7.5vh;
  width: 13.5vw;
}
