.container {
  padding: 6vh 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: stretch;
}

.heroText {
  flex: 0 0 50%;
}

.heroTitle {
  font-size: 44px;
  font-weight: 700;
  padding-bottom: 2vh;
  color: #0415aa;
  line-height: 110%;
}

.heading {
  font-weight: 500;
  font-size: 24px;
  color: #323C47;
  padding-bottom: 1.5vh;
  line-height: 110%;
}

.gif {
  height: 400px;
  width: auto;
}

.heroParah {
  font-size: 18px;
  margin: 3vh 0 5vh 0;
  color: #707683;
}

.button {
  font-size: 18px;
  height: 7.5vh;
  width: 13.5vw;
  text-decoration: none;
}

@media (max-width: 766px) {
  .container {
    padding: 2vh 40px;
  }
}

@media (max-width: 480px) {
  .heroParah {
    margin: 0;
  }

  .container {
    padding: 2vh 20px;
    text-align: center;
  }

  .cont {
    flex-direction: column;
  }

  .heroText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
  }

  .heroTitle {
    font-size: 4.5vh;
    padding-bottom: 1vh;
  }

  .heading {
    font-size: 2.5vh;
    padding-bottom: 0.75vh;
  }

  .heroParah {
    font-size: 1.5vh;
    padding-bottom: 1.5vh;
  }

  .button {
    font-size: 1.5vh;
    height: 5vh;
    width: 35%;
  }

  .gif {
    margin-top: 5vh;
    height: 35vh;
    width: auto;
  }
}