.button {
  border: 1px solid #0415AA;
  background: #0415AA;
  color: white;
  cursor: pointer;
  border-radius: 100px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  height: 40px;
  width: 150px;
}

.button:hover,
.button:active {
  background: #041186;
  border-color: #041186;
}

.removeStyle{
  text-decoration: none;
}

@media (max-width: 766px) {
  .button {
    font-size: 10px;
    height: 30px;
    width: 120px;
  }
}
