.button {
  border: 1px solid #0415AA;
  background: #0415AA;
  color: white;
  cursor: pointer;
  border-radius: 100px;
  font-weight: 600;
  height: 5.2vh;
  width: 120px;
  font-size: 1.65vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover,
.button:active {
  background: #041186;
  border-color: #041186;
}

.removeStyle{
  text-decoration: none;
}
