.container{
  margin: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heading{
  text-align: center;
  margin-top: 2vh;
}

.gif{
  height: 20vh;
}